<div class="">
  
  <div class="row">
    
    <div class="col s12">
          
          <ul class="collapsible" data-collapsible="expandeble">
           <li>
             <div class="collapsible-header active  blue lighten-4" style="height: 0;">
               <div class="row">
                 <div class="col m2 s12">Req #:123</div>
                  <div class="col m2 s12">Mirage</div>
                   <div class="col m2 s12">Casino Cards</div>
                    <div class="col m2 s12">
                       <div class="input-field select1" style="margin-top:0">
                        <select style="display: block;">
                        <option value="" >Active</option>
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                        </select>
   
                       </div>

                    </div>
                     <div class="col m2 s12">  CSR:Tony K</div>
                      <div class="col m2 s12"> Art Date:12/30/16</div>
               </div>
                 
             </div>
             
             <div class="collapsible-body">
              <div>
                <ul class="collapsible" data-collapsible="expandeble">
                  <li>
                    <div class="collapsible-header active green lighten-4" style="height: 0;">
                      <div class="row">
                        <div class="col s12 m3 "> Face-Traditional -Gold</div>
                         <div class="col s12 m3">  Spec ID:1234-1</div>
                          <div class="col s12 m3"> 
                             <div class="input-field select2">
                              <select >
                                <option value=""  >Finished</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                              </select>
   
                       </div>
                                </div>
                             <div class="col s12 m3"> Activity:</div>
                        </div>

                      
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                      <div class="col m10 offset-m1">
                      <table>
                          <tr>
                            <th>Side:</th>
                            <th>Face Style:</th>
                            <th>Ace:</th>
                            <th>Joker:</th>
                            <th>Color:</th>
                          </tr>
                          <tr>
                            <td>Face</td>
                            <td>Traditional</td>
                            <td>Gemaco</td>
                            <td>Gemaco</td>
                            <td>Gold</td>
                          </tr>
                      </table>
                       <div class="row">
                         <div class="col s12 m6">
                           <div class="input-field">
                             <textarea  id="textarea" placeholder="Lorem ipsum dolor sit amet,..." class="materialize-textarea"></textarea>
                             <label for="textarea">Comments:</label>
                           </div>
                         </div>
                        
                         <div class="col s12 m3 ">
                           <span><i class="material-icons">get_app</i>Download Art</span>
                         </div>
                         <div class="col s12 m3 valign">
                            <span> <i class="material-icons">publish</i>Upload Art</span>
                         </div>
                         
                       </div>
                       <div class="row">
                         <div class="col s12 m6">
                           Reference Attachments:
                           <div class="chip">
                             Wynnlogbw.png
                           </div>
                           
                         </div>
                       </div>
                       </div>
                       </div>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header active green lighten-4 " style="height: 0;">
                      MESSAGES
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="col m10 offset-m1">
                      <h5>New Message</h5>
                      </div>
        
                        <div class="col s12 m5 offset-m1">
                          <p> Lorem ipsum dolor sit amet,consectetur adipiscing elit. Nulla quam velit, vulputate eu phare</p>
                        </div>
                        <div class="col s12 m4">
                           
                            <a class="btn-floating blue  lighten-1 "><i class="material-icons"><h6>SA</h6></i></a>
                           <a class="btn-floating blue lighten-1"><i class="material-icons"><h6>SM</h6></i></a>
                            <a class="btn-floating blue lighten-4"><i class="material-icons"><h6>PS</h6></i></a>
                           <a class="btn-floating blue lighten-4"><i class="material-icons"><h6>AD</h6></i></a>
                            <a class="btn-floating blue lighten-4"><i class="material-icons">add</i></a>
                          
                        </div>
                        <div class="col s12 m2">
                          <button class="btn blue"><i class="material-icons right">send</i>Send</button>
                          <a class="btn-small white-text grey lighten-3 ">Subscribe</a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m12 l12">
                              <ul class="collection card">
                                <li class="collection-item avatar">
                                 <a class="btn-floating blue  lighten-1"><i class="material-icons"><h6>CT</h6></i></a>
                                  <span class="title">Chirs T</span>
                                  <p>First Line <br>
                                    Second Line
                                  </p>
                                  <a href="#!" class="secondary-content"><i class="material-icons right">add_location</i>12/3/2016 12:08 pm</a>
                                </li>
                              <ul>
                        </div>
                      </div>
                            <div class="row">
                        <div class="col s12 m12 l12">
                              <ul class="collection card ">
                                <li class="collection-item avatar">
                                 <a class="btn-floating blue  lighten-1"><i class="material-icons"><h6>MF</h6></i></a>
                                  <span class="title">Mike F</span>
                                  <p >First Line <br>
                                    Second Line
                                  </p>
                                  <a href="#!" class="secondary-content"><i class="material-icons right">add_location</i>12/3/2016 12:08 pm</a>
                                </li>
                              <ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
               
              </div>
             </div>
             </div>




           </li>
          </ul>

    </div>

   
 
 

  