%p{:style => "padding-top: 8px;margin-top: 14px;padding-bottom: 0px"}
  %span.custom.bluebarsmall.submitted
  %span.custom.bluecircle=# car.submitted_spec_count
  %span.custom.bluebar.inprogress
  %span.custom.bluecircle=# car.inprogress_spec_count
  %span.custom.bluebar.artfinished
  %span.custom.bluecircle=# car.art_finished_spec_count
  %span.custom.bluebar.pendapproval
  %span.custom.bluecircle=# car.pending_approval_spec_count 
  %span.custom.bluebar.artapproved
  %span.custom.bluecircle=# car.art_approved_spec_count 

  %span.custom.bluebarsmall.bluebarsmalllast

%p{:style => "padding-top: 13px;margin-top: 0px;"}
  .submitted-space.custom
  %span.custom.boldsize
    Submitted
  .inprogress-space.custom
  %span.custom.boldsize
    In Progress
  .artfinished-space.custom
  %span.custom.boldsize
    Artist Finished
  .pendapproval-space.custom
  %span.custom.boldsize
    Pending Approval
  .artapproved-space.custom
  %span.custom.boldsize
    Art Approved
  .printed-space.custom
